[submodule "src/repos/neucodec"]
	path = src/repos/neucodec
	url = https://github.com/neuphonic/neucodec.git
[submodule "src/repos/higgs-audio"]
	path = src/repos/higgs-audio
	url = https://github.com/boson-ai/higgs-audio.git
[submodule "src/repos/tadicodec"]
	path = src/repos/tadicodec
	url = https://github.com/AmphionTeam/TaDiCodec.git
[submodule "src/repos/xcodec2"]
	path = src/repos/xcodec2
	url = https://github.com/zhenye234/X-Codec-2.0.git
[submodule "src/repos/cosyvoice"]
	path = src/repos/cosyvoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
[submodule "src/repos/GLM-4-Voice"]
	path = src/repos/GLM-4-Voice
	url = https://github.com/THUDM/GLM-4-Voice.git
[submodule "src/repos/glm4voice"]
	path = src/repos/glm4voice
	url = https://github.com/THUDM/GLM-4-Voice.git
[submodule "src/repos/wavtokenizer"]
	path = src/repos/wavtokenizer
	url = https://github.com/jishengpeng/WavTokenizer.git
[submodule "src/repos/stepaudioeditx"]
	path = src/repos/stepaudioeditx
	url = https://github.com/stepfun-ai/Step-Audio-EditX.git
