# xcodec2 Minimal Requirements
# TODO: integrate CUDA preservation like in cosyvoice2
# install manually: pip install --no-deps xcodec2==0.1.5

# torchstuff required by xcodec2
torch 
torchaudio 
torchao 
torchtune 
vector-quantize-pytorch

# other stuff required by xcodec2
numpy>=2.0.2
einops==0.8.0
transformers>=4.45.2
vector-quantize-pytorch==1.17.8
transformers==4.45.2

# scipt stuff
soundfile